body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cccccc;
  max-height: 200%;
  max-width: 200%;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
